<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CompanyWeChatTest">
    <test name="应用">
        <classes>
            <class name="testcase.Apps" />
        </classes>
    </test>
    <test name="消息">
        <classes>
            <class name="testcase.Messages" />
        </classes>
    </test>
    <listeners>
        <listener class-name="reportlistener.ExtentTestNGIReporterListener" />
        <listener class-name="reportlistener.AutoTestListener" />
        <listener class-name="reportlistener.RetryListener" />
    </listeners>
</suite>
